body {
  background-color: slategray;
}

canvas {
  height: 500px !important;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}

p {
  margin: 1rem 0;
}
.navbar{
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 99999 !important;
  background-color: #222;
  height: 120px;
}
.navbar p{
  font-size: 30px;
  align-items: center;
  margin: 10 auto;
  margin-left: 120px;
  color:white;

}
.element{
  margin-top: 120px;
}